[init]
    defaultbranch = main

[merge]
    conflictstyle = zdiff3

[user]
    name = Nasonov Viktor
    email = me@qxuken.dev
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://drydock9.qxuken.dev"]
	provider = generic
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
